@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-curve-top {
  clip-path: ellipse(300% 100% at 50% 100%);
}

.bg-card-gradient {
  background: rgb(0, 15, 59);
  background: linear-gradient(
    142deg,
    rgba(0, 15, 59, 0.8518589564732143) 14%,
    rgba(67, 24, 69, 0.849057836025035) 100%
  );
}

.detail-click {
  @apply h-auto min-h-24 py-5;
}

.toggle-btn {
  @apply -rotate-45;
}

/* .scrol-x-plus {
  @apply w-[8%] visible md:w-[5%] lg:w-[4%] xl:w-[3%] transition-all duration-1000 ease-in-out;
}

.scroll-x-min {
  @apply w-0 invisible md:w-0 lg:w-0 xl:w-0 transition-all duration-300 ease-in-out;
} */

.scroll-x-min {
  @apply w-0 md:w-0 lg:w-0 xl:w-0;
  visibility: hidden;
  transition: width 0.3s ease, visibility 0.3s ease;
}

.scroll-x-plus {
  @apply w-[8%] md:w-[5%] lg:w-[3.5%] xl:w-[2.5%];
  visibility: visible;
  transition: width 0.3s ease, visibility 0.3s ease;
}

.modal-movie-active {
  @apply z-10 scale-100 opacity-100 transition-all ease-in-out duration-300;
}

.modal-movie-close {
  @apply -z-10 scale-75 opacity-0 transition-all ease-out duration-300;
}


